.about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    gap: 50px;
    
    background-color: rgb(151, 77, 196);
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.about-section{
    display: flex;
    gap: 70px;
}
.about-left img{
    position:relative;
    bottom: 0;
    left: 20px;
    height: 300px;
    width: 300px;
    z-index: 1;
   
}
.about-left:hover{
   
    
        transform: scale(1.2);
        
}
.about-left:hover{
    transform: translate(170px);
    
       
        
}
.about-right{
    display: flex;
    flex-direction: column;
    color:rgb(250, 250, 250);
    padding-right: 20px;
    white-space: pre-wrap; /* Allows the text to wrap */
    word-wrap: break-word; /* Break long words if needed */
    margin: 0; /* Remove default margin */
}
.p-container {
    max-width: 100%; /* Ensure it doesn’t exceed the container width */
    overflow-x: auto; /* Add horizontal scrolling for overflow */
    padding: 10px; /* Padding for spacing */
    background-color: #f8f8f800; /* Light background for better readability */
    border: 1px solid #cccccc00; /* Border to distinguish the pre element */
   
  }
  
 
  